

{# <img src="{{ file_url(node.field_image.entity.uri.value) }}" alt="Équipement de pressing de qualité" class="w-full h-auto group-hover:scale-105 transition-transform duration-700"> #}
<div class="node-full-content">
    {# Votre contenu détaillé ici #}
    {% if content.field_new_listing_paragraph %}
      {{ content.field_new_listing_paragraph }}
    {% endif %}
  </div>
