/* Responsive adjustments */
@media (max-width: 992px) {

  /* .header-inside .nav-link:hover {
    color: white;
  } */
  header.header-inside .container ul ul {
    z-index: 999;
  }

  .path-projets .header-inside.scrolled .nav-link:hover,
  .path-projets .header-inside.scrolled .nav-link.active {
    color: #fff !important;
  }

  #slider--animate .slide-content {
    margin-left: 5%;
  }

  #slider--animate .slide-title {
    font-size: 2.8rem;
  }

  #slider--animate .slide-subtitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .header-inside {
    padding: 15px 0;
  }

  #slider--animate .slide-title {
    font-size: 2.2rem;
  }

  #slider--animate .slide-subtitle {
    font-size: 1.5rem;
  }

  #slider--animate .slide-text {
    font-size: 1rem;
  }

  #slider--animate .owl-prev,
  #slider--animate .owl-next {
    width: 40px;
    height: 40px;
    font-size: 18px !important;
  }
}

@media (max-width: 576px) {
  #slider--animate .slide-content {
    text-align: center;
    margin: 0 auto;
  }

  #slider--animate .slide-title {
    font-size: 2rem;
  }

  #slider--animate .slide-subtitle {
    font-size: 1.3rem;
  }

  .header-inside .navbar-brand {
    font-size: 22px;
  }
}

@media (max-width: 768px) {


  .counter-container {
    flex-direction: column;
    align-items: center;
  }

  .counter-item {
    width: 80%;
  }

  .counter-value {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .metric-value {
    font-size: 2.8rem;
  }

  .metrics-section {
    padding: 50px 0;
  }
}

@media (max-width: 1119px) {
  .counter-value {
    font-size: 3rem;
  }

  .counter-item {
    min-width: 30%;
  }

  .counter-container-1 {
    width: 20%;
  }

  .counter-container {
    width: 80%;
  }

}

@media (min-width: 992px) {
  #mobile_multi_right {
    display: none;
  }

  .mobile__modal {
    display: none;
  }

  .job-card h5 {
    height: 88px;
  }

  header.header-inside .container ul li svg,
  header.header-inside .container ul li ul {
    display: none;
  }

  .banner_bread.carriere.Project_detail_page_banner #slider--animate .slide-title {
    padding-bottom: 20px !important;
    transform: translateY(30px) !important;
  }


  #slider--animate .slide-title {
    padding-bottom: 0;
    transform: translateY(57px);
  }

  .section--2-modal .video-wrapper {
    width: 100%;
    height: auto;
    position: relative !important;
  }

  div#block-ces-our-hestory2 .section--2-modal .video-wrapper.position-relative img {
    height: auto;
  }

  #block-ces-our-hestory2 .row.align-items-center {
    justify-content: space-between;
  }

  #slider--animate .slide-content {
    margin-left: 6%;
  }

  .col-md-4.text-center.item__3 .video-wrapper.position-relative::after {
    opacity: 0;
  }

  .col-md-4.text-center.item__3>div {
    height: auto;
  }

  .col-md-4.text-center.item__3 img {
    width: 100%;
    height: 100%;
  }

  .counter-container-1 {
    padding-left: 60px;
  }

  /*  */
  .counter-container-1 {
    width: 24%;
  }

  .counter-container>div {
    /* background: #000; */
    padding: 10px;
    width: 24%;
    flex: inherit;
  }

  .counter-container {
    padding-left: 60px;
  }

  .title--top-vd {

    position: relative;
    top: -30px;
    font-family: "NimbusSanL bol";
    left: 5px;

  }

  .counter-container {
    width: 100%;
    padding-left: 0;
  }

  .section--2-modal .video-wrapper {
    height: 400px;
    top: -30px;
    width: 100%;
  }

  section.Project_detail_page .container {
    gap: 0 40px;
  }

  div#slider--animate .aligne__this {
    justify-content: start;
    gap: 0 80px;
  }

  section.galerie-de-projets .container>div {
    height: auto;
  }

  section.galerie-de-projets .container>div img {
    height: 100%;

    aspect-ratio: 16 / 9;
    object-position: top;
  }

  section.galerie-de-projets .container>div {
    width: 49%;
  }

  section.section--4 .row .views-infinite-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding: 0;
    margin: auto;
  }

  section.section--4 .row .views-infinite-scroll-content-wrapper>div {
    /* --bs-gutter-x: 1.5rem; */
    /* --bs-gutter-y: 0; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* margin-top: calc(-1 * var(--bs-gutter-y)); */
    /* margin-right: calc(-.5 * var(--bs-gutter-x)); */
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
  }

  .btn__sbmt.col-md-2 {
    display: none;
  }

  div#block-ces-our-hestory2 .section--2-modal .video-wrapper.position-relative img {
    height: auto;
    padding-left: 15px;
  }

  .footer---btm .row>div:first-child p {
    display: none;
  }

  .footer---btm .row>div {
    margin-bottom: 0 !important;
  }

  .footer---btm {
    padding: 30px 0 15px 0 !important;
  }

  div#block-ces-footer3 p {
    margin-bottom: 10px;
  }

  ul.list-unstyled.footer-link li a,
  .footer---btm p {
    line-height: normal;
  }

  .border-light {
    margin: 0px 0 15px 0;
  }

  .footer---btm .row>div:first-child p {
    padding-right: 30px;
  }

  .owl-item.active.center .timeline-item .timeline-content {
    height: 118px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 30px;
    bottom: -45%;
  }

  .notre-histoire .owl-carousel .owl-stage-outer {
    padding-bottom: 70px;
  }

  header.header-inside .container ul .nav-item:last-child {
    display: none;
  }


  .contact_form .form-container form>div {
    width: 48%;
  }

  .contact_form .form-container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
  }

  .contact_form .form-container form>.js-form-item-subject,
  .contact_form .form-container form>.js-form-item-message {
    width: 100%;
  }

  .contact_form .form-container form div#edit-actions {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .desktop__modal {
    display: none;
  }

  header.header-inside .container ul ul .nav-link.active {
    font-weight: 400;
  }

  header.header-inside .container ul>li>a.show svg {
    transform: rotate(180deg);
  }

  header.header-inside .container ul ul {
    position: relative;
    border: 0;
    padding-left: 25px;
  }

  header.header-inside .container ul>li>a {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .path-projets .section--4 {
    padding-top: 0;
  }

  header.header-inside .container ul>li>a svg {
    position: relative;
    right: -100px;
  }

  .button-row {
    display: none;
  }

  div#block-ces-our-hestory1 section.banner_bread.carriere h1.slide-title.text-center {

    font-size: 28px !important;
  }

  #slider--animate .slide-content {
    justify-content: end;
  }

  .col-md-4.text-center.item__3 {
    padding: 15px;
  }

  #block-ces-hpsectionslider #slider--animate .slide-title {
    white-space: normal;
    overflow: hidden;
    animation: initial;
  }

  .title--top-vd {
    font-size: 40px;

  }

  #slider--animate .owl-slide img {
    object-fit: cover;
  }

  #slider--animate .owl-dots {

    margin-left: 0;
  }

  div#block-ces-footer3 p {
    justify-content: center;
  }

  .notre-histoire .owl-nav {
    position: absolute;
    justify-content: space-between;

  }

  .contact_form .form-container form {
    gap: 15px 0;
    display: flex;
    flex-direction: column;
  }

  .sc---prj-1 .row form>div {
    width: 100%;
  }

  .notre-equipe-content .notre-equipe-image {
    order: 2;
  }

  .contact_form .contact-info {
    margin-top: 20px;
  }

  .timeline-content {
    bottom: -55% !important;
    padding: 0 0 !important;
    width: 100% !important;
    position: absolute;
  }

  .section--2-modal .row {
    flex-direction: column;
    gap: 30px 0;
  }



  .section--2-modal .row>div {
    width: 100%;
    margin: 0;
  }

  .section--2-modal .row>div img {
    width: 100%;
    height: 100%;
  }

  .section--2-modal .row .text-center {
    padding: 0;
  }

  .header-inside .container {
    display: flex;
  }

  .header-inside .container>button {
    order: 1;
  }

  .header-inside .navbar-brand {
    order: 2;
  }

  div#mobile_multi_right {
    display: flex;
    order: 3;
  }

  .header-inside .container div#navbarNav {
    order: 4;
  }

  .section--2-modal .video-wrapper {
    width: 100%;
  }

  .project-card .card-body {
    position: absolute;
    background: transparent !important;
  }

  /* .project-card .card-body >div , .project-card .card-body h3 {
    color: #600100;
} */
  header.header-inside .container ul {
    margin-top: 20px;
  }

  .regle_header {
    position: relative !important;
  }

  .header-inside .nav-link {
    color: #600100;
  }

  .header-inside .nav-link.active {
    color: #600100 !important;
    font-weight: bold;
  }

  .Project_detail_page_img img {
    height: 100%;
  }

  .path-projets .header-inside .nav-link:hover,
  .path-projets .header-inside .nav-link.active {
    background: transparent;
  }

  body:not(.path-frontpage) ul.navbar-nav.ms-auto {
    border-radius: inherit;
    background: transparent;
  }

  .Project_detail_page_img img {

    width: 100%;
  }

  section.galerie-de-projets .container {
    flex-direction: column;
  }

  .wrapper_img {

    width: 100% !important;
  }

  .header-inside.scrolled .nav-link {
    color: #fff;
  }

  .header-inside.scrolled .nav-link.active {
    color: #fff !important;
    font-weight: bold;
  }

  .banner-last #slider--animate .owl-slide {
    height: 365px;
  }

  .header-inside .nav-link:after {
    opacity: 0;
  }

  .project-card .card-body {
    opacity: 1;
    transform: none;
    background: #600100;
  }

  .project-card.card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }

  .header-inside {
    position: relative;
  }

  .sc---prj-1 .row form {
    flex-direction: column;
  }

  .header-inside button.navbar-toggler {
    border: 0;
    padding: 10px;
  }

  .regle_header a.navbar-brand.logo__2 {
    display: block !important;
  }

  body:not(.path-frontpage) header.header-inside.regle_header.scrolled a.navbar-brand.logo__2 {
    display: none !important;
  }

  .regle_header a.navbar-brand.logo__1 {
    display: none !important;
  }

  .header-inside .logo__2 {
    display: block;
  }

  .header-inside .logo__1 {
    display: none;
  }

  header.header-inside.scrolled .logo__1 {
    display: block;
  }

  header.header-inside.scrolled .logo__2 {
    display: none;
  }

  .vertical---sc {
    flex-direction: column;
  }

  /* body:not(.path-frontpage) header#header-inside .container .navbar-brand:first-child {
    display: block;
}
body:not(.path-frontpage) a.navbar-brand.logo__2 {
    display: none;
} */
  body:not(.path-frontpage) .header-inside {
    background: transparent !important;
  }

  .counter-container-1 {
    width: 100%;
    text-align: center;
  }

  .counter-container {
    width: 100%;
  }

  .counter-container-1 p {
    text-align: center;
  }

  section.section--4 {}

  section.section--4 .row {
    flex-direction: column;
  }

  section.section--4 .row>div {
    width: 100%;
  }

  .footer---btm .row>div {
    width: 100%;
  }

  .footer---btm .row {
    text-align: center;
  }

  .footer---btm p {
    text-align: center;
  }

  body,
  html {
    overflow-x: hidden;
  }

  .section--2-modal .row {

    gap: 20px 0;
  }

  #slider--animate .slide-title {
    margin-bottom: 0;
    text-align: left;
  }

  #slider--animate .slide-content {
    padding-bottom: 20%;
  }

  .section--2-modal .row .text-center {
    padding: 0 15px;
  }

  .sc---prj-2-filter .form-control {
    width: 100%;
  }

  .pourquoi-nous-rejoindre .benefit-card {
    width: 100%;
  }

  .pourquoi-nous-rejoindre .benefit-card {
    flex-direction: column;
  }

  .content--our {
    width: 100%;
  }

  .notre-equipe-content {

    gap: 20px 0;
  }

  section.Project_detail_page .container {
    flex-direction: column;
    margin: 30px 0;
  }

  section.Project_detail_page .container div {
    width: 100%;
    margin-bottom: 10px;
  }

  .Project_detail_page .project-title {
    font-size: 18px;
  }

  .Project_detail_page_img svg {
    width: 100%;
    height: 100%;
  }

  .title--sc h2 {
    font-size: 40px;
  }

  .wrapper_img img {
    width: 100%;
  }

  section.galerie-de-projets .container {
    gap: 10px 0;
    justify-content: space-between;
  }

  section.contact_form .container {
    flex-direction: column;
    gap: 20px 0;
  }

  .contact_form .form-container {
    width: 100%;
  }

  .contact_form .info-container {
    width: 100%;
  }

  .pourquoi-nous-rejoindre .benefits-container {}

  .pourquoi-nous-rejoindre .trier__3_elemnt>div {
    width: 100%;
  }

  .posy_all_offre.container.my-4 .row.g-4>div {
    width: 100% !important;
  }

  .pourquoi-nous-rejoindre .trier__3_elemnt>div {
    width: 100%;
  }

  .posy_all_offre.container.my-4 .row.g-4>div {
    width: 100% !important;
  }

  .posy_all_offre.container.my-4 .row.g-4 {
    padding: 0;
  }

  .posy_all_offre.container.my-4 .row.g-4>div {
    padding: 0;
  }

  .posy_all_offre.container.my-4 {
    padding: 0;
  }

  .right--contact-multi-langue {
    display: none;
  }

  .header-inside button.navbar-toggler {
    background-color: #fff;
  }

  body:not(.path-frontpage) header#header-inside {
    background: #600100;

  }

  .posy_all_offre .job-card__head {
    padding: 20px;
  }

  .job-card h5 {
    font-size: 20px;
  }

  .job-card a {
    width: auto;
    height: auto;
  }

  .notre-histoire .timeline-item {
    width: 300px;
    margin: 0;
  }

  .notre-histoire .owl-item {
    display: flex;
  }

  .notre-histoire .owl-carousel {
    position: relative;
    width: auto;
    margin: auto;
  }

  .notre-histoire .owl-carousel .owl-stage-outer {
    padding-top: 0;
  }

  .notre-histoire-header {
    margin-bottom: 0;
  }

  .notre-histoire .timeline-item {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0;
  }

  body:not(.path-frontpage) header.header-inside.scrolled {
    background: #600100 !important;
  }

  .counter-container-1,
  .counter-container-1 p {
    text-align: left;
  }

  .counter-container {
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
  }

  .counter-item {
    text-align: left;
    padding-left: 0;
    width: 49%;
    min-width: 49%;
    padding-right: 0;
  }

  .counter-item:last-child {
    width: 100%;
    min-width: 100%;
  }

  .counter-value {
    font-size: 30px;
  }

  .counter-text {
    font-size: 12px;
  }


  .counter-item {
    width: 32% !important;
    min-width: 32% !important;
  }

  .counter-item:last-child {
    min-width: 32% !important;
  }

  .counter-container {
    gap: 0 5px;
  }

  .sc---prj-1 .row form .col-md-8 {
    flex-direction: column;
  }

  .col-md-2.select__list {
    width: 100%;
  }

  .col-md-2.select__list select {
    width: 100%;
  }

  .owl-item.active.center .timeline-item .timeline-content {
    min-height: 90px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
  }

  .wrapper_img img {
    height: 100%;
  }

  .notre-equipe-image img {
    height: auto;
    object-fit: contain;
    max-width: 100%;
  }

  .notre-equipe-image {
    height: auto;
  }

  .ui-widget-content.ui-front div#ui-id-1 {
    text-align: left;
    margin: 0 30px;
    font-size: 15px;
  }

  .ui-widget-content.ui-front {
    margin: 0 30px;
  }

  #slider--animate .slide-title {
    font-size: 28px;
  }

  #slider--animate .slide-content {
    padding: 30px;
    justify-content: center;
  }

  section.banner_bread.carriere.Project_detail_page_banner>div>div {
    height: auto !important;
  }

  /*  */

  #slider--animate .slide-content {
    padding-bottom: 88px;
    padding-left: 15px;
  }

  #slider--animate .owl-slide {
    height: 500px;
  }

  .slide-overlay {
    height: 100%;
  }

  section.carriere .slide-content {
    padding-left: 30px !important;
  }

  /*  */



  div#block-ces-our-hestory1 #slider--animate .slide-content {
    bottom: 0;
    justify-content: end;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  div#block-ces-our-hestory1 section.banner_bread.carriere h1.slide-title.text-center {

    transform: translateY(0px);
  }




  .banner_bread.carriere.Project_detail_page_banner #slider--animate .slide-content {
    bottom: 0;
    justify-content: end;
    padding-bottom: 30px;
  }



  #block-ces-carrieres1 #slider--animate .slide-content {
    bottom: 0;
    justify-content: end;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #block-ces-carrieres1 section.banner_bread.carriere h1.slide-title.text-center {

    transform: translateY(0px);
    font-size: 28px !important;
  }




  #block-ces-bannercontact #slider--animate .slide-content {
    bottom: 0;
    justify-content: end;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  header.header-inside .right--contact-multi-langue ul {
    margin-top: 0;
  }

  /*  */
  .section--2-modal .row .text-center {
    padding: 0 25px;
  }

  .path-frontpage .section--2-modal.py-5 .title--sc {
    padding-bottom: 0;
  }

  .path-frontpage .section--2-modal.py-5 .btn-discover {
    margin-top: 15px;
  }

  .section--2-modal .row>div {
    margin-bottom: 0 !important;
  }

  .views-element-container section.section--4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  section.section--5 .owl-stage-outer {
    margin-top: 0;
  }

  .title--sc h2 {
    line-height: normal;
  }

  #block-ces-our-hestory2 {
    padding-bottom: 20px;
  }

  .notre-histoire .title--sc p {
    display: none;
  }

  .pourquoi-nous-rejoindre.pourquoi-nous-carriere .title--sc h2 {
    padding-bottom: 15px;
  }

  .path-frontpage #slider--animate {
    margin-bottom: 30px;
  }

  #block-ces-notremission {
    padding-top: 10px;
  }

  .footer---btm p {

    margin-bottom: 7px;
  }

  .path-projets .views-element-container section.section--4 {
    padding-top: 10px !important;
    position: relative;
    top: -14px;
  }

  .path-projets .intro-text.title--sc {
    margin-bottom: 0;
  }

  .pourquoi-nous-rejoindre.pourquoi-nous-carriere .title--sc h2 {
    font-size: 30px;
  }

  .pourquoi-nous-carriere .benefit-title {
    font-size: 22px;
    line-height: 28px;
  }

  #postes-ouverts {
    padding-top: 15px;
  }

  #postes-ouverts h2 {
    line-height: normal;
  }

  .footer---btm p a {
    position: relative;
    left: -15px;
  }

  .title--sc h2 {
    font-size: 30px !important;
  }

  .title--top-vd {
    font-size: 30px;
  }

  .project-category {
    font-size: 16px;
  }

  .project-card .card-body {
    padding: 5px 10px;
  }

  .project-card.card img {
    height: auto;
    object-fit: contain;
    aspect-ratio: initial;
  }

  /*  */
  .header-inside .logo__2,
  .header-inside .logo__1 {
    margin: auto;
    position: relative;
    right: 0;
  }

  .sc---prj-1+.section--4 {
    padding-top: 10px !important;
    position: relative;
    top: -14px;
  }

  .intro-text.title--sc {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {}
