/* Responsive adjustments */

@media (max-width: 991px) {

.items__menu_principe {
  display: none;
}

  #banner__slider_hp .flex.gap-4 {
    flex-direction: column;
    margin-bottom: 14%;
  }

  #banner__slider_hp .flex.gap-4 a {
    width: fit-content;
  }

  #about img {
    width: 100%;
  }

  #about .grid.grid-cols-2.gap-4 {
    flex-direction: column;
    display: flex;
  }

  #about>div {
    padding-inline: 0 0 !important;
    margin: 0 15px;

  }

  .act_bs .grid.md\:grid-cols-2.gap-8 {
    display: flex;
    flex-direction: column;
  }

  .relative.min-h-\[60vh\].flex.items-center.justify-center.pt-32.pb-20 .text-6xl.md\:text-7xl.mb-8.leading-tight {
    padding: 0 15px;
    margin: 15px 15px;
    display: block;
    font-size: 45px;
    position: relative;
  }

  .tailwind.css-myl2ny.css-exq74d h1 {
    padding: 0 15px;
    margin: 0;
    display: block;
    font-size: 45px;
  }

  /* .scrolled_header nav {
    margin-top: 50px;

  }

  .scrolled_header nav .show__menu {
    margin-top: 45px;
  } */

  .is-open+.show__menu {
    display: block;
  }

  #contact h2 {
    width: unset;
    font-size: 42px;
  }

  #about>div>div {
    display: block;
  }
}

@media (max-width: 767px) {}
